body {
  background-color: #fff;
  font-family: 'Public Sans', sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.connect {
  display: flex;
  height: 100vh;
  width: 100%;
}
.connect .col {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  width: 100%;
}
.connect .col:first-child {
  padding: 32px 0px 32px 32px;
  width: 56%;
}
.connect .col:last-child {
  width: 44%;
}
.connect .cover {
  align-items: center;
  background-color: #f9f7fa;
  box-sizing: border-box;
  border-radius: 1.124rem;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.connect .cover img {
  display: block;
  height: auto;
  width: 60%;
  --a: 4deg;
  transform: perspective(200px) rotate3d(var(--r, 1, 1, 0), calc(var(--i, 1) * var(--a)));
  transition: 0.4s;
}
.connect .cover:hover {
  --i: -1;
  -webkit-mask-position: 0 0;
}
.connect .box {
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 3rem;
  width: 100%;
}
.connect .box .in {
  width: 100%;
  max-width: 400px;
}
.connect .box .in .logo {
  width: 100%;
}
.connect .box .in .logo img {
  display: block;
  width: 100px;
}
.connect .box .in h3 {
  color: var(--c2);
  font-weight: 500;
  font-size: 1.625rem;
  margin: 0px;
  margin-top: 4px;
}
.connect .box .in p {
  color: #6f6b7d;
  font-size: 1.1em;
  margin: 0px;
  margin-top: 4px;
}
.connect .box .in a {
  color: var(--c1);
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .connect .col:first-child {
    display: none;
  }
  .connect .col:last-child {
    width: 100%;
  }
  .connect .box .in h3 {
    font-size: 1.225rem;
  }
  .connect .box .in p {
    font-size: 0.8rem;
  }
}
